@import "tailwindcss";

@theme {
  --color-accent: oklch(0.514 0.222 16.935);
  --color-content-fg: black;
  --color-content-bg: white;
  --color-lighter-bg: oklch(0.869 0.005 56.366);
  --color-darker-bg: oklch(0.709 0.01 56.259);
}

/* Used for slanted element containing logo */
@utility slanted-bottom-* {
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(--value(integer) * 1%)
  );
}

@utility slanted-right-* {
  clip-path: polygon(
    0 0,
    100% 0,
    calc(--value(integer) * 1%) 100%,
    0 100%
  );
}